
  <header class="main-header fixed-top ">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Sonatel Academy</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top  fixed-top" id="ftop">
      <!-- Sidebar toggle button-->
       <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> 
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
         
          <!-- Notifications: style can be found in dropdown.less -->
          
         
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <span *ngIf="user.avatar"> 
                <img src="{{'data:image/jpg;base64,'+user.avatar}}" class="img-circle" alt="User Image" style="width: 50px;height:40px; "  >
              </span>
              <span *ngIf="!user.avatar"> 
                <img src="assets/avat.png" class="img-circle" alt="User Image" style="width: 50px;height:40px; ">  
              </span>
               -->
              <span class="hidden-xs">{{user.prenom }}  {{user.nom}}</span>
              
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <span *ngIf="user.avatar"> 
                  <img src="{{'data:image/jpg;base64,'+user.avatar}}" class="img-circle" alt="User Image" style="width: 150px;height:100px; ">  
                </span>
                <span *ngIf="!user.avatar"> 
                  <img src="assets/avat.png" class="img-circle" alt="User Image" style="width: 150px;height:100px; ">  
                </span>
                
                <p>
                  {{user.prenom }}  {{user.nom}}
                  <small>{{user.profil.libelle }} </small>
                </p>
              </li>
              <!-- Menu Body -->
             
              <!-- Menu Footer-->
              <li class="user-footer">
                
                <div class="pull-right">
                  <button  (click)="OnLogout()" class="btn btn-default btn-flat">Se déconnecter</button>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>