<div class="col-md-10 m-t-200
 m-l-100">
    <!-- TABLE: LATEST ORDERS -->
    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Liste des Utilisateurs supprimés</h3>
    
          <div class="box-tools pull-right">
            
            <div class="input-group-btn">
              
             
                <button routerLink="/home"  class="btn btn-sm  btn-danger  m-l-10  ">Retour</button>
              
            </div>     
           
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>Avatar</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Profil</th>
                <th style="text-align: center;">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let u of users">
                <td>
                <div class="user-panel">
                    <div class="pull-left image">
                       
                      <!-- <img src="{{'data:image/jpg;base64,'+u.avatar}}" class="img-circle" alt="User Image"> -->
                    <span *ngIf="u.avatar && u.avatar!='aW1n'"> 
                      <img src="{{'data:image/jpg;base64,'+u.avatar}}" class="img-circle" alt="User Image" style="width: 50px;height:40px;">
                    </span>
                    <span *ngIf="u.avatar=='aW1n' || !u.avatar"> 
                      <img src="assets/avat.png" class="img-circle" alt="User Image" style="width: 50px;height:40px;">  
                    </span>
                  </div>
                 </div>
                </td>
                <td>{{u.nom }}</td>
                <td>{{u.prenom }}</td>
                <td>{{u.email}}</td>
                <td>{{u.profil.libelle}}</td>
            
                <td>
                    <button (click)="Reintegrer(u.id)"  class="btn btn-sm  btn-success  m-l-10  ">Réintegrer</button>
                
                
                </td>
              
              </tr>
    
           
                  
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
         
          <a href="javascript:void(0)" *ngIf="prec" (click)="previous()"  class="btn btn-sm btn-default btn-flat pull-left">Precedent</a>
          <a href="javascript:void(0)" *ngIf="suiv" (click)="next()" class="btn btn-sm btn-info btn-flat pull-right">Suivant</a>
        </div>
        <!-- /.box-footer -->
       
      </div>
      <!-- /.box -->
    </div>  
    