
<div class="row  m-l-10 ">
    <section class="content-header">
        <h1 >
       Réferentiels
         
        </h1>

      </section>
<div class="col-md-10 m-t-15 m-l-100">
<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Liste des Référentiels</h3>

      <div class="box-tools pull-right">
        <div class="input-group-btn">
        
          <button routerLink="/create-referentiel" class="btn btn-info"><i class="fa fa-plus"></i></button>
        </div>  
       
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body  ">
     
        <!-- la liste des groupes de competence ici avec les cards -->

    <div class="row">
    
 
    <div class="col-md-3">


        <div class="box box-primary box-solid "> 
 
         <div class="box box-primary box-solid collapsed-box">
           <div class="box-header with-border">
             <h3 class="box-title">Libellé</h3>
 
             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-pencil"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
               </button>
             </div>
             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body"  id="desc" style="display: none;">
             Présentation
           </div>
           <!-- /.box-body -->
        
 
            
     
 
         </div>
         <!-- /.box -->
         <div class="box box-primary box-solid collapsed-box m-t-10">
           <div class="box-header with-border">
             <h3 class="box-title">Groupes de Compétences</h3>
 
             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
               </button>
             </div>
             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body"   style="display: none; ">
             Groupe de Compétences 
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
 
         <div class="box box-primary box-solid collapsed-box m-t-10">
           <div class="box-header with-border">
             <h3 class="box-title">Programme</h3>
 
             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
               </button>
             </div>
             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body"   style="display: none;">
             Programme
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->

         <div class="box box-primary box-solid collapsed-box m-t-10">
            <div class="box-header with-border">
              <h3 class="box-title">Criteres d'évaluation</h3>
  
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body"   style="display: none;">
              Criteres d'évaluation
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box box-primary box-solid collapsed-box m-t-10">
            <div class="box-header with-border">
              <h3 class="box-title">CRitéres d'admission</h3>
  
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body"   style="display: none;">
              critére d'admission
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        
       </div>
 
       
       </div>
         <!-- fin div col  -->
    
   
         <div class="col-md-3">


            <div class="box box-primary box-solid "> 
     
             <div class="box box-primary box-solid collapsed-box">
               <div class="box-header with-border">
                 <h3 class="box-title">Libellé</h3>
     
                 <div class="box-tools pull-right">
                   <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-pencil"></i></button>
                   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                   <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                   </button>
                 </div>
                 <!-- /.box-tools -->
               </div>
               <!-- /.box-header -->
               <div class="box-body"  id="desc" style="display: none;">
                 Présentation
               </div>
               <!-- /.box-body -->
            
     
                
         
     
             </div>
             <!-- /.box -->
             <div class="box box-primary box-solid collapsed-box m-t-10">
               <div class="box-header with-border">
                 <h3 class="box-title">Groupes de Compétences</h3>
     
                 <div class="box-tools pull-right">
                   <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                   </button>
                 </div>
                 <!-- /.box-tools -->
               </div>
               <!-- /.box-header -->
               <div class="box-body"   style="display: none; ">
                 Groupe de Compétences 
               </div>
               <!-- /.box-body -->
             </div>
             <!-- /.box -->
     
             <div class="box box-primary box-solid collapsed-box m-t-10">
               <div class="box-header with-border">
                 <h3 class="box-title">Programme</h3>
     
                 <div class="box-tools pull-right">
                   <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                   </button>
                 </div>
                 <!-- /.box-tools -->
               </div>
               <!-- /.box-header -->
               <div class="box-body"   style="display: none;">
                 Programme
               </div>
               <!-- /.box-body -->
             </div>
             <!-- /.box -->
    
             <div class="box box-primary box-solid collapsed-box m-t-10">
                <div class="box-header with-border">
                  <h3 class="box-title">Criteres d'évaluation</h3>
      
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body"   style="display: none;">
                  Criteres d'évaluation
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
              <div class="box box-primary box-solid collapsed-box m-t-10">
                <div class="box-header with-border">
                  <h3 class="box-title">CRitéres d'admission</h3>
      
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body"   style="display: none;">
                  critére d'admission
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            
           </div>
     
           
           </div>
             <!-- fin div col  -->
             <div class="col-md-3">


                <div class="box box-primary box-solid "> 
         
                 <div class="box box-primary box-solid collapsed-box">
                   <div class="box-header with-border">
                     <h3 class="box-title">Libellé</h3>
         
                     <div class="box-tools pull-right">
                       <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-pencil"></i></button>
                       <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                       </button>
                     </div>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body"  id="desc" style="display: none;">
                     Présentation
                   </div>
                   <!-- /.box-body -->
                
         
                    
             
         
                 </div>
                 <!-- /.box -->
                 <div class="box box-primary box-solid collapsed-box m-t-10">
                   <div class="box-header with-border">
                     <h3 class="box-title">Groupes de Compétences</h3>
         
                     <div class="box-tools pull-right">
                       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                       </button>
                     </div>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body"   style="display: none; ">
                     Groupe de Compétences 
                   </div>
                   <!-- /.box-body -->
                 </div>
                 <!-- /.box -->
         
                 <div class="box box-primary box-solid collapsed-box m-t-10">
                   <div class="box-header with-border">
                     <h3 class="box-title">Programme</h3>
         
                     <div class="box-tools pull-right">
                       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                       </button>
                     </div>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body"   style="display: none;">
                     Programme
                   </div>
                   <!-- /.box-body -->
                 </div>
                 <!-- /.box -->
        
                 <div class="box box-primary box-solid collapsed-box m-t-10">
                    <div class="box-header with-border">
                      <h3 class="box-title">Criteres d'évaluation</h3>
          
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body"   style="display: none;">
                      Criteres d'évaluation
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                  <div class="box box-primary box-solid collapsed-box m-t-10">
                    <div class="box-header with-border">
                      <h3 class="box-title">CRitéres d'admission</h3>
          
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body"   style="display: none;">
                      critére d'admission
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                
               </div>
         
               
               </div>
                 <!-- fin div col  -->
   
            <!-- /.box-body -->
     </div>
          <!-- /.box -->
        
     </div>
      <!-- /.table-responsive -->
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-left">Precedent</a>
      <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">Suivant</a>
    </div>
</div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->



  

  <!-- /.box  fin creation de profil  -->
</div>  

