
  <!-- .box   creation de profil -->
  <div class="col-md-10  m-l-150 m-t-100">
    <div class="box box-info m-t-15">
    
    
      
      <div class="box-header with-border">
        <h3 class="box-title">Ajouter  des compétences   </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="col-3">
        
        <h4>Ajouter Competences</h4>
        <br>
    
        <label for="gcompt">Groupe de Competences</label>
    
        <select name="listCompetences" id="" class="form-control">
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
        </select>
    
        <label for="libelle">Libelle</label>
        <input type="text" name="libelle" class="form-control" id="libelle">
        <br>
    
        <span class="border border-primary bg-primary p-1 text-light">Niveau 1</span>
        <span class="border border-primary bg-secondary p-1">Niveau 2</span>
        <span class="border border-primary bg-secondary p-1">Niveau 3</span>
        <br>
        <br>
        <label for="gpaction">Groupe d'actions à realiser</label>
        <textarea class="form-control" id="egpaction" rows=""></textarea>
    
        <label for="gpaction"> Criteres d'evaluation </label>
        <textarea class="form-control" id="egpaction" rows=""></textarea>
    
        <br>
        <button class="bg-primary form-control text-light font-weight-bold" type="submit"> Soumettre </button>
    
    </div>
    </div>
    </div>
    
      <!-- /.box  fin creation de profil  -->