
<div class="row  m-l-10 ">
    <section class="content-header">
        <h1 >
         Compétences
         
        </h1>

      </section>
<div class="col-md-10 m-t-15 m-l-100">
<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Liste des Compétences </h3>

      <div class="box-tools pull-right">
        <div class="input-group-btn">
        
            <button routerLink="/create-competence" class="btn btn-info"><i class="fa fa-plus"></i></button>
          </div>  
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- partie body  competence -->
      <div class="row">
        <!-- Titre du tableau -->
        <div class="col-9">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="text-center p-t-5"> Liste des Compétences </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 box box-primary p-t-2">
                    
                        <select name="listCompetences" id="" class="form-control">
                            <option value="">Développer le front d'une application </option>
                            <option value="">Développer le back d'une application </option>
                            <option value="">Développer le front d'une application </option>
                            <option value="">Développer le back d'une application </option>
                        </select>
                  
                    <div class="row ">
                        <ul class="list-unstyled">
                            <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Niveau1</a></li>
                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Niveau2</a></li>
                        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Niveau3</a></li>
                       
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          
          
                          <p>Le niveau 1  groupe d actoin et critere d admission </p>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <p>Le niveau 2 groupe d actoin et critere d admission </p>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <p>Le niveau 3  groupe d actoin et critere d admission </p>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                        </ul>  
    
                    </div>
                </div>
                <div class="col-md-6">
                   
                  </div>
            </div>
        </div>
       
    
    </div>


       <!-- fin partie body competence  -->

    </div>
    <!-- /.box-body -->
   
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->
</div>  



</div>